*.sublime-project
*.sublime-workspace
*.pyc
*.log
*.DS_Store
*.egg-info
*.pkl
*.pdf
*.png
*.root
*.npy
*.npz
*.h5
*.hdf5
*.json
*.yaml
*.pb
*.txt
*.out
*.env
*.law
*.vscode
*.ipynb
__pycache__
dist
build
tmp
store
software
data
test*
models
